.detail-card {
  display: flex;
  margin: 102px 200px;
  justify-content: space-between;
}

.package-detail {
  width: 602px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.detail-list {
  padding-bottom: 26px;
}

.detail-list p {
  margin-bottom: 8px;
}

.container-car-detail {
  padding: 24px;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.container-car-detail img {
  width: 270px;
  margin: 0 68px 52px 68px;
}

.container-car-detail .bi {
  color: #8a8a8a;
}

.container-car-detail p {
  margin: 0;
}

.container-car-detail div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 55px;
  padding-bottom: 84px;
}
