.container-faq-section {
  margin: 0px 136px;
  display: flex;
  justify-content: space-between;
}

.container-faq-title {
  width: 368px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-faq {
  width: 668px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-button {
  font-weight: 700;
}

.accordion-body p {
  font-weight: 400;
}
