.section-service {
  padding: 104px 207px;
  display: flex;
  gap: 100px;
}

.container-img {
  width: 460px;
}

.container-text-service {
  width: 468px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  gap: 20px;
}

.list p {
  list-style: none;
  gap: 16px;
  font-size: 14px;
  font-weight: 700;
}

.list .bi {
  color: #0d28a6;
}
