.container-section {
  padding-left: 136px;
  background: #f1f3ff;
  padding-top: 25px;
}

.blank {
  height: 232px;
}

.container-hero {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-top: 53px;
}

.container-text {
  width: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

.container-text p {
  width: 468px;
  font-weight: 700;
  line-height: 20px;
}

.container-text button {
  background-color: #5cb85f;
  color: white;
}

.container-image {
  width: 704px;
  height: 407px;
}

.container-image > img {
  width: fit-content;
  position: relative;
  z-index: 2;
}

.container-image .background {
  height: 243px;
  border-top-left-radius: 60px;
  background-color: blue;
  position: relative;
  top: -243px;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .container-section {
    padding: 24px 16px;
  }

  .container-hero {
    flex-direction: column;
  }

  .container-text {
    width: initial;
  }

  .container-text p {
    width: initial;
  }

  .container-image {
    width: initial;
    height: 198px;
  }

  .container-image img {
    width: 100%;
  }

  .container-image .background {
    height: 119px;
    top: -119px;
  }
}
