.container-why {
  padding: 0 136px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-card-whyus {
  display: flex;
  gap: 32px;
}

.card-why {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-why div {
  background-color: #f9cc00;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.75;
}

.bi {
  color: white;
}
