.container-head {
  display: flex;
  justify-content: space-between;
  margin-right: 249px;
}

.logo-dummy {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.container-link {
  display: flex;
  align-items: center;
  gap: 32px;
  text-transform: capitalize;
}

.container-link a:last-child {
  text-transform: uppercase;
}
