.container-head {
  display: flex;
  justify-content: space-between;
  margin-right: 249px;
}

.logo {
  width: 50px;
}

.container-link {
  display: flex;
  align-items: center;
  gap: 32px;
  text-transform: capitalize;
}

.container-link a {
  text-decoration: none;
  color: black;
}

.container-link a:last-child {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .container-link {
    display: none;
  }
}
