.container-footer {
  margin: 150px 136px 100px 136px;
  display: flex;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 268px;
}

.link-footer {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-footer p {
  font-weight: 400;
}

.social-footer div {
  display: flex;
  gap: 10px;
}

.social-footer .bi {
  color: #0d28a6;
  font-size: 20px;
}

.copyright {
  width: 268px;
}

@media screen and (max-width: 576px) {
  .container-footer {
    margin: 60px 16px;
    flex-direction: column;
  }
}
