.container-banner {
  margin: 104px 136px;
  background-color: #0d28a6;
  color: white;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 13px;
  border: 0;
}

.container-banner p {
  width: 468px;
  padding-bottom: 36px;
}

.container-banner button {
  background-color: #5cb85f;
  color: white;
}

@media screen and (max-width: 576px) {
  .container-banner {
    margin: 50px 16px;
    padding: 64px 0;
    text-align: center;
  }

  .container-banner p {
    width: 212px;
  }
}
